<ion-view view-title="{{ group.name }}">      
  <ion-content data-tap-disabled="true">
    <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.markersEvents" width="100px" height="100px">
      <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id" closeClick="hideMarkerPopup()" onClicked="showMarkerPopup()">
      </ui-gmap-marker>
      <ui-gmap-markers
	     	models  = "userMarkers"
	     	coords  = "'self'"
	     	icon    = "'icon'"
	     	click  =  "clickPin">
	     	<ui-gmap-windows show="show">
	       	<div ng-non-bindable>
	         	<h3>{{name}}</h3>
	         	 <a href="tel:{{phone_number}}" class="button button-clear button-royal button-small">Call me at {{phone_number}}</a>
	       	</div>
	     	</ui-gmap-windows>
	   	</ui-gmap-markers>        
    </ui-gmap-google-map>
		<ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="user in userMarkers" type="item-text-wrap">
        <img ng-src="{{user.image}}">
        <h2>{{user.name}}</h2>
        <a href="tel:{{phone_number}}">Call me at {{user.phone_number}}</a>
      </ion-item>
    </ion-list>
    

		<div id="group-buttons">
	    <button class="button button-positive group-button" ng-click="goInvite()">
			  Invite User
			 </button>

			<button class="button button-assertive group-button" ng-click="leaveGroup()">
			  Leave Group
			</button>
		</div>
  </ion-content>
</ion-view>