<ion-view view-title="{{ group.name }}" cache-view="false">
  <ion-content data-tap-disabled="true" overflow-scroll="true">
  	<div id="map">
	    <ui-gmap-google-map center='map.center' zoom='map.zoom' events="map.markersEvents" refresh='true'>
	      <ui-gmap-markers
		     	models  = "userMarkers"
		     	coords  = "'self'"
		     	icon    = "'icon'"
		     	click  	=  "clickPin"
		     	fit			=		"true"
		     	dorebuildall="true">
		     	<ui-gmap-windows>
		       	<div ng-non-bindable>
		         	<h5>{{name}}</h5>
		         	<a href="tel:+{{phone_number}}"><i class="icon ion-ios-telephone"></i></a>
		       	</div>
		     	</ui-gmap-windows>
		   	</ui-gmap-markers>
		   	<ui-gmap-marker coords="marker.coords" options="marker.options" idkey="marker.id">
	      </ui-gmap-marker>        
	    </ui-gmap-google-map>
    </div>
    <div id="info">
			<ion-list>
	      <ion-item class="item item-text-wrap item-remove-animate item-avatar item-icon-right" ng-repeat="user in userMarkers" style="color:#0000FF">
	      	<img ng-src="{{user.image}}" onerror="this.src='img/icon.jpg'">
	        <p ng-click="myClick({{user.id}})">{{user.name}}</p>
	        <a href="tel:+{{user.phone_number}}"><i class="icon ion-ios-telephone"></i></a>
	      </ion-item>
	    </ion-list>
	    <ion-item class="item sent-invitation item-text-wrap item-remove-animate item-avatar item-icon-right" ng-repeat="user in sent">
	      	<img ng-src="{{user.image}}" onerror="this.src='img/icon.jpg'">
	        <p>{{user.sent_to}}</p>
	        <p>Waiting for user to accept invitation.</p>
	      </ion-item>
	    </ion-list>
			<div id="group-buttons">
			   <button class="button button-positive invite-button button-small" ng-click="goInvite()">
					  Invite User
				 </button>
				
				<button class="button button-assertive invite-button button-small" ng-click="leaveGroup()">
				  Leave Group
				</button>
			</div>
		</div>
  </ion-content>
</ion-view>