<ion-view view-title="Locatr" name="login-view" cache-view="false">
  <ion-content>
    <div class="list" id="loginList">
      <h2>Login</h2>
      <label class="item item-input item-floating-label">
        <span class="input-label">Email</span>
        <input type="email" placeholder="Email" ng-model="loginData.email">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="loginData.password">
      </label>
      <button class="button button-block button-calm" ng-click="login()">Login</button>
    </div>

    <div class="padding">
      <button class="button button-positive" ui-sref="signup">Sign Up</button>
    </div>
  </ion-content>
</ion-view>