<ion-view view-title="{{currentUser.name}}'s Groups" cache-view="false" overflow-scroll="true">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate group-list item-avatar item-icon-right" ng-repeat="group in groups" type="item-text-wrap" href="#/tab/group/{{group.id}}">
        <img ng-src="{{group.image}}" onerror="this.src='img/icon.jpg'">
        <h2>{{group.name}}</h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
      </ion-item>
    </ion-list>

    <button class="button button-balanced" ng-click="goAdd()">
      <i class="icon ion-ios-plus-outline icon-accessory"></i> Add Group
    </button>
  </ion-content>
</ion-view>
