<ion-view view-title="Invitations" cache-view="false">
  <ion-content class="padding" id="invitations">
    <div class="list card" ng-repeat="invitation in invitationsReceived track by $index">
      <div class="item item-divider">Sent By {{ invitation.sent_by }} To Join {{ invitation.group_to_join }}</div>
      <div class="item item-body">
        <div>
          {{ invitation.text }}
          <div class="invite-buttons">
            <button class="button button-small button-positive invite-button" ng-click="acceptInvite($index)">
              Accept
             </button>

            <button class="button button-small button-assertive invite-button" ng-click="rejectInvite($index)">
              Reject
            </button>
          </div>
        </div>
      </div>
      </div>
    </div>
    <div class="list card" ng-show="invitationsReceived.length == 0">
      <div class="item item-divider">You have no invitations!</div>
      <div class="item item-body">
        Please check again later.
    </div>
  </ion-content>
</ion-view>
